extends login_layout

block content
  .container
    .hero-unit
      .row-fluid
        .span9
          h1= title
          h2 Login
        .span3
          - if(messages)
              each message in messages
                p= message 
          form#loginForm(method="post", action="/signup")
            input(type="text", name="id", placeholder="Account ID")
            input(type="password", name="password", placeholder="Password")
            label.checkbox.gray Keep Login
              input(type="checkbox")
            input.btn.btn-primary(type="submit", value="Login")
          script(type="text/javascript")
            $(function() {
              $('#loginForm').validate({
                rules : {
                  'id' : { required: true },
                  'password' : { required: true }
                }
              });
            });