extends layout

block content
  .container
      h2 Sever Configuration
      form.form.horisontal
        table.table.table-bordered.table-striped.table-hover
          caption CV-MailForm Configuration in Databases
          thead
            tr.table-bordered
              th.span1 No.
              th.span2 Attribute
              th.span3 Value
              th.span6 Description
          tbody
            tr.control-group
              td 1
              td.control-label Domain
              td.controls
                input(type="text", id="inputDomain", placeholder="example.co.jp", style="margin-bottom: 0px;")
              td test
            tr.control-group
              td 2
              td.control-label SMTP Server
              td.controls
                input(type="text", id="inputSMTPserver", placeholder="localhost", style="margin-bottom: 0px;")
              td test
            tr.control-group
              td 2
              td.control-label SMTP Username
              td.controls
                input(type="text", id="inputSMTPuser", placeholder="username", style="margin-bottom: 0px;")
              td test
            tr.control-group
              td 2
              td.control-label SMTP Password
              td.controls
                input(type="text", id="inputSMTPpassword", placeholder="password", style="margin-bottom: 0px;")
              td test
            tr.control-group
              td 3
              td.control-label Recipient 
              td.controls
                input(type="text", id="inputRecipient", placeholder="admin@example.co.jp", style="margin-bottom: 0px;")
              td test
            tr.control-group
              td 4
              td.control-label Archive 
              td.controls
                input(type="text", id="inputArchive", placeholder="1 Month", style="margin-bottom: 0px;")
              td test

        .control-group
          .controls
            button.btn.btn-primary(type="submit") Configure
  #container